body {
    background-image: url('assets/stormtrooper.jpg');
    background-color: #cccc;
    height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.intro {
    text-align: center;
    color: white;
    background-color: black;
    max-width: 100vw;
    width: 100vw;
}

/* table data */
.listResults {
    margin-top: 15vh;
    color: black;
    display: flex;
    font-weight: 900;
    text-align: center;
    text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white; 
}

.listrow {
    text-align: center;
}

.formButtons {
    margin-top: 4vh;
    color: black;
    display: flex;
    text-align: center;
    position: relative;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}

a { 
    text-decoration : none; color : #000;
}

